@import "tailwindcss";

@theme inline {
  --color-primary: #FF5101;
  --color-dark: #181818;
  --color-cream: #FFFDFC;
  --color-card: #F9F4F0;
  --color-gray-text: #3D3D3D;
  --color-gray-light: #919191;
  --color-gray-border: #C7C7C7;

  --font-sans: "Inter", sans-serif;
  --font-serif: "Georgia", serif;
  --font-mono: "Fragment Mono", monospace;
}

@keyframes marquee-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes marquee-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.marquee-left {
  animation: marquee-left 30s linear infinite;
}

.marquee-right {
  animation: marquee-right 30s linear infinite;
}

body {
  background: var(--color-cream);
  color: var(--color-dark);
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}
